﻿body {
    background-color: lightpink;
}

.form {
    width: 300px;
    height: 300px;
    background-color: deeppink;
    position: relative;
    left: 540px;
    top: 80px;
    border-radius: 5px;
}